.main{
  background: #f7f7f7;
}
.card {
  color: black;
  font-family: Akrobat;
  text-align: center;
 
  transition: 0.3s;
  border-radius: 20px;
  background: white;
  margin: 5px 20px;
  width: 320px;
  position: relative;
}

.grid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  
}

.title{
  font-size: 1rem;
  height:40px;
}

