.title{
  font-size: 1.7rem;
  height: 40px;
  padding:5px;
  font:bold;
}
.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.amount{
    text-align: right;
    font-family: akrobat-bold;
    color:red;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 20px;
  /*  margin-left: auto;*/
  /*   padding: 5px; */
}

.item {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.btn{
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
  font-size:5px;
  padding: 2px;
  margin-left: 5px;
}
.favorite {
   text-align: right; /* 文章を右寄せする */
}

.img{
  height: auto;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  
}
.text{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.discription{
  font-size:100%;
  color:#979696;
  height: 60px;
  padding:10px;
}


.figcaption {
  text-align: right; /* 文章を右寄せする */
  margin-right: 5px;
  margin-left: 5px;
  z-index: 0;
  width: -webkit-fill-available;
}

.speclink{
  color : #42a0f8;
}

.speclink:hover{
  
  color : #ff7043;
}