.title{
  font-size: 2rem;
}
.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.amount{
    text-align: right;
    font-family: akrobat-bold;
    color:green;
    font-weight: bold;
    font-size: 1.5rem;
}

.item {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.favorite {
   text-align: right; /* 文章を右寄せする */
}